@model Practice6a_MVC_Nhibernate.Models.SubjectRegisted

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-control">
    <div class="text-uppercase fs-3 fw-bold">
        Nhập điểm môn học
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row mb-3">
        <div class="col-md-2">
            @Html.LabelFor(model => model.MAMH, "Mã môn học:", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.DropDownList("MAMH", new SelectList(ViewBag.subjectRegisted, "MAMH", "MAMH"), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MAMH, "", new { @class = "text-danger" })
        </div>

    </div>

    @Html.HiddenFor(model => model.MSSV, new { Value = ViewBag.IdStudent })
    @Html.HiddenFor(model => model.SOLANHOC)
    <div class="row mb-3">
        <div class="col-md-2">
            @Html.LabelFor(model => model.DQT, "Điểm quá trình:", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-2">
            <input type="number" name="DQT" id="DQT" min="0" max="10" step="0.1" class="form-control" required />
            @Html.ValidationMessageFor(model => model.DQT, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-8">
            <button type="button" id="editDQT" class="btn btn-info" style="display: none;">Edit</button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2">
            @Html.LabelFor(model => model.DTP, "Điểm thành phần:", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-2">
            <input type="number" name="DTP" id="DTP" min="0" max="10" step="0.1" class="form-control" required />
            @Html.ValidationMessageFor(model => model.DTP, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-8">
            <button type="button" id="editDTP" class="btn btn-info" style="display: none;">Edit</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <input type="submit" value="Nhập điểm" class="btn btn-primary fw-bold" />
        </div>
        <div class="col-md-4">
            @if (ViewBag.response != null)
            {
                <div class="text-uppercase fw-bold @(ViewBag.response == "Môn học đã có điểm" ? "text-danger" : "text-success")">@ViewBag.response</div>
            }
        </div>
    </div>
</div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>

    var subjectRegisted = @Html.Raw(Json.Encode(ViewBag.subjectRegisted));

    function checkScore(subjectRegisted, maMH) {


        var matchedSubjects = $.grep(subjectRegisted, function (subject) {
            return subject.MAMH === maMH;
        });
        $('#SOLANHOC').val(matchedSubjects[0].SOLANHOC);
        if (matchedSubjects[0].DTP != null) {
            $('#editDTP').show();
            $('#DTP').val(matchedSubjects[0].DTP);
            $('#DTP').prop('readonly', true);

        }
        else {
            $('#editDTP').hide();
            $('#DTP').val(null);
            $('#DTP').prop('readonly', false);
        }

        if (matchedSubjects[0].DQT != null) {
            $('#editDQT').show();
            $('#DQT').val(matchedSubjects[0].DQT);
            $('#DQT').prop('readonly', true);
            debugger
        }
        else {
            $('#editDQT').hide();
            $('#DQT').val(null);
            $('#DQT').prop('readonly', false);
        }
    }

    $('#editDTP').click(function () {
        $('#DTP').prop('readonly', false);
    })
    $('#editDQT').click(function () {
        $('#DQT').prop('readonly', false);
    })


    checkScore(subjectRegisted, $('#MAMH').val());
    $(document).ready(function () {
        // Khi giá trị của dropdown thay đổi
        $('#MAMH').change(function () {
            checkScore(subjectRegisted, $('#MAMH').val());
        });
    });
</script>