@{
    ViewBag.Title = "ResultSubjectRegisted";
    var resultStudent = ViewBag.resultStudent as System.Data.DataTable;
}
<div class="text-uppercase fs-3 fw-bold">
    <span class="">Kết quả học tập </span>
</div>
<table class="table">
    <tr>
        <th></th>
        <th class="">Mã môn học</th>
        <th class="">Tên môn học</th>
        <th class="">Điểm quá trình</th>
        <th class="">Điểm thành phần</th>
        <th class="">Trung bình môn</th>
        <th class="">Kết quả</th>
    </tr>

    @foreach (System.Data.DataRow row in resultStudent.Rows)
    {
        <tr class="@((row["KETQUA"].ToString() == "Fail" && row["DTK"]!=DBNull.Value) ? "text-danger fw-bold" : (int.Parse(row["SOLANHOC"].ToString())>0 ? "text-warning fw-bold" : ""))">
            <td><input type="checkbox" name="selectedSubjects" value="@row["MAMH"]" /></td>
            @if (row["DTK"] != DBNull.Value)
            {
                <td> @row["MAMH"]</td>
                <td> @row["TENMH"]</td>
                <td title="Trọng số: @row["RATEDQT"]"> @float.Parse(row["DQT"].ToString())</td>
                <td title="Trọng số: @row["RATEDTP"]"> @float.Parse(row["DTP"].ToString())</td>
                <td> @float.Parse(row["DTK"].ToString())</td>
                <td> @row["KETQUA"]  </td>
            }
            else
            {
                <td> @row["MAMH"]</td>
                <td> @row["TENMH"]</td>
                if (row["DQT"] != DBNull.Value)
                {
                    <td title="Trọng số: @row["RATEDQT"]"> @float.Parse(row["DQT"].ToString())</td>
                }
                else
                {
                    <td></td>
                }
                if (@row["DTP"] != DBNull.Value)
                {
                    <td title="Trọng số: @row["RATEDTP"]"> @float.Parse(row["DTP"].ToString())</td>
                }
                else
                {
                    <td></td>
                }
                <td> </td>
                <td> </td>

            }
        </tr>

    }
</table>