@model Practice6a_MVC_Nhibernate.Models.SubjectRegisted
@{
    ViewBag.Title = "SubjectRegister";
}
@Html.ActionLink("Trở về trang chủ", "Index", "Home")
<br />
<br />
@{
    Html.RenderAction("InfoStudent", "Student", new { Id = ViewBag.Id });
}
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-control">
        <div class="text-uppercase fs-3 fw-bold text-center mt-3 mb-3">
            Đăng ký môn học
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th>Mã môn học</th>
                    <th>Tên môn học</th>
                    <th>Tỉ lệ điểm thành phần</th>
                    <th>Tỉ lệ điểm quá trình</th>
                    <th>Số tiết</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subject in ViewBag.subject)
                {
                    <tr>
                        <td><input type="checkbox" id="selectedSubjects" name="selectedSubjects" value="@subject.MAMH" /></td>
                        <td>@subject.MAMH</td>
                        <td>@subject.TENMH</td>
                        <td>@(subject.RATEDTP*100)%</td>
                        <td>@(subject.RATEDQT*100)%</td>
                        <td>@subject.SOTIET</td>
                    </tr>
                }
            </tbody>

        </table>
        @Html.HiddenFor(model => model.MSSV, new { Value = ViewBag.Id })
        <!-- Các trường thông tin khác -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary fw-bold" disabled/>
            </div>
        </div>
    </div>
}
@*@{
    Html.RenderAction("ResultSubjectRegisted", "SubjectRegisted", new { Id = ViewBag.IdStudent});
}*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 0 },
                { "className": "text-center", "targets": '_all' }
            ],
            language: {
                processing: "Đang tải dữ liệu",
                search: "Tìm kiếm",
                lengthMenu: "_MENU_ mỗi trang",
                info: "_START_-_END_ trong số _TOTAL_",
                infoEmpty: "Không có dữ liệu",
                infoFiltered: "(Không tìm thấy dữ liệu phù hợp)",
                loadingRecords: "",
                zeroRecords: "Không tìm thấy thông tin",
                emptyTable: "Không có dữ liệu",
                paginate: {
                    first: "Trang đầu",
                    previous: "Trang trước",
                    next: "Trang sau",
                    last: "Trang cuối"
                },
                aria: {
                    sortAscending: ": Đang sắp xếp",
                    sortDescending: ": Đang sắp xếp",
                }
            },
        });
    });

    $('input[type=checkbox]').change(function () {
        var checked = $('input[type="checkbox"]:checked');
        if (checked.length > 0) {
            $('input[type=submit]').prop('disabled', false);
        }
        else {
            $('input[type=submit]').prop('disabled', true);
        }
    });

</script>