@model IEnumerable<Practice6a_MVC_Nhibernate.Models.Student>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/Site.css">
<h2 class="text-center">Danh sách sinh viên</h2>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>@Html.DisplayName("Mã số sinh viên")</th>
            <th>@Html.DisplayName("Họ tên")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MSSV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HOTENSV)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Lý lịch", "Details", "Student", new { Id = item.MSSV }, null) |
                    @Html.ActionLink("Kết quả học tập", "Result", "Student", new { Id = item.MSSV }, null) |
                    @Html.ActionLink("Đăng ký môn học", "SubjectRegister", "SubjectRegisted", new { Id = item.MSSV }, null) |
                    @Html.ActionLink("Nhập điểm", "InsertScore", "SubjectRegisted", new { Id = item.MSSV }, null)

                </td>
            </tr>
        }
    </tbody>

</table>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>

    $(document).ready(function () {

        $('#myTable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 2 },
                { "className": "text-start", "targets": [0, 1] }
            ],
            language: {
                processing: "Đang tải dữ liệu",
                search: "Tìm kiếm",
                lengthMenu: "_MENU_ mỗi trang",
                info: "_START_-_END_ trong số _TOTAL_",
                infoEmpty: "Không có dữ liệu",
                infoFiltered: "(Không tìm thấy dữ liệu phù hợp)",
                loadingRecords: "",
                zeroRecords: "Không tìm thấy thông tin",
                emptyTable: "Không có dữ liệu",
                paginate: {
                    first: "Trang đầu",
                    previous: "Trang trước",
                    next: "Trang sau",
                    last: "Trang cuối"
                },
                aria: {
                    sortAscending: ": Đang sắp xếp",
                    sortDescending: ": Đang sắp xếp",
                }
            },
        });

        $(window).ready(function () {
            var success = @Html.Raw(Json.Encode(TempData["success"]));
            var warning = @Html.Raw(Json.Encode(TempData["warning"]));
            if (success != null) {
                toastr.options.timeOut = 2000; // 2s
                toastr.success(success);    
            }
            if (warning != null) {
                toastr.options.timeOut = 2000; // 2s
                toastr.warning(warning);
            }
        })

    });
</script>

