@model  Practice6a_MVC_Nhibernate.Models.Student
@{
    ViewBag.Title = "Thông tin sinh viên";
    var student = ViewBag.Student;
}
<div class="text-uppercase fs-3 fw-bold">
    <span class="">Thông tin cá nhân</span>
</div>
<br />
<div class="row">
    <div class="form-body">
        <div class="form-group row">
            <label class="col-5"><span>Họ và tên: </span><span class="fw-bold">@student.HOTENSV</span></label>
            <label class="col-4"><span>Ngày sinh: </span><span class="fw-bold">@student.NGAYSINH.ToString("dd/MM/yyyy")</span></label>
            <label class="col-3"><span>Giới tính: </span><span class="fw-bold">@student.GIOITINH</span></label>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-5"><span>Mã sinh viên: </span><span class="fw-bold">@student.MSSV</span></label>
            <label class="col-4"><span>Lớp sinh hoạt: </span><span class="fw-bold">@student.LOP</span></label>
            <label class="col-3"><span>Khoá: </span><span class="fw-bold">@student.KHOA</span></label>
        </div>
    </div>
</div>
